html,
body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0, 100, 200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0, 80, 160);
}

label {
	display: block;
}

input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: red;
}

/* --------- from: App ------------------------- */

.form {
	margin: 0 auto 40rem auto;
	width: 12rem;
}

/* ----- from App ------ */

main {
	text-align: center;
	padding: 1em;
	max-width: 240px;
	margin: 0 auto;
}

@media (min-width: 640px) {
	main {
		max-width: none;
	}
}

/* --------- from: Sentence ------------------------- */

h1 {
	font-size: 22px;
}

/* --------- from: InputText ------------------------- */

.field {
	margin-bottom: 1rem;
	text-align: left;
	width: 100%;
	position: relative;
}
.half {
	width: 48%;
	display: inline-block;
}

.sub,
label,
.prompt {
	display: none;
}
input[type="text"] {
	/* border: 1px solid hsl(0, 0%, 90%); */
	border: none;
	background-color: hsl(0, 0%, 97%);
	width: 100%;
}

.question {
	position: relative;
	top: 1.9em;
	left: 0.4em;
	line-height: 1.5rem;
	pointer-events: none;
}
.focused .question/* ,
.filled .question */ {
	top: 0em;
	font-size: 0.5em;
	/* text-align: right; */
}
/* show label on right after filling, to aid gradual collapse */
.filled:not(.focused) .question {
	position: absolute;
	top: 1.1em;
	right: 0;
	text-align: right;
	font-size: 0.5em;
	/* hide until hover */
	visibility: hidden;
}
.filled:not(.focused):hover .question {
	visibility: visible;
}

.filled:not(.focused) input[type="text"] {
	border: none;
	font-weight: bold;
	border-bottom: 2px dotted hsl(0, 0%, 93%);
}
.filled:not(.focused):hover input[type="text"] {
	/* text-decoration: underline; */
	border-bottom: 2px dotted hsl(0, 0%, 67%);
}
.filled:not(.focused) {
	margin-bottom: 0;
}
.filled input[type="text"] {
	background: none;
	border: none;
}
/* .closed cards */
.closed .filled:not(.focused) input[type="text"] {
	border-bottom: none;
	padding: 0 0.4em;
	margin: 0;
}
.closed .filled:not(.focused):not(.hero) input[type="text"] {
	font-weight: normal;
	font-size: 0.8em;
}

.postcode input {
	text-transform: uppercase;
}

fieldset {
	border: none;
}
fieldset.closed {
	background: #eee;
	border-radius: 11px;
}
fieldset.closed button {
	/* display: none; */
}

button.wide {
	width: 100%;
}
